<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated l3IA_ProjetHTML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="l3IA_ProjetHTML.presentation.L3IA_ProjetHTMLModelWizardID"
            name="%_UI_L3IA_ProjetHTMLModelWizard_label"
            class="l3IA_ProjetHTML.presentation.L3IA_ProjetHTMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/L3IA_ProjetHTMLModelFile.gif">
         <description>%_UI_L3IA_ProjetHTMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated l3IA_ProjetHTML -->
      <editor
            id="l3IA_ProjetHTML.presentation.L3IA_ProjetHTMLEditorID"
            name="%_UI_L3IA_ProjetHTMLEditor_label"
            icon="icons/full/obj16/L3IA_ProjetHTMLModelFile.gif"
            extensions="l3ia_projethtml"
            class="l3IA_ProjetHTML.presentation.L3IA_ProjetHTMLEditor"
            contributorClass="l3IA_ProjetHTML.presentation.L3IA_ProjetHTMLActionBarContributor">
      </editor>
   </extension>

</plugin>
