<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated l3IA_ProjetHTML -->
      <package
            uri="http://www.example.org/l3IA_ProjetHTML"
            class="l3IA_ProjetHTML.L3IA_ProjetHTMLPackage"
            genModel="model/l3IA_ProjetHTML.genmodel"/>
   </extension>

</plugin>
